<html>
  <head>
    <title> Dice Training </title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="../jquery.js"></script>
    <script src="../src/Dice.js"></script>
    <script src="../src/Log.js"></script>
    <!-- <link rel='stylesheet' type='text/css' href='dice.css'> -->
  </head>

  <body>
  <h2 id="total" class = "total"></h2>
  <button id = "roll_first" class = "roll_first"> Roll First Dice! </button>
  <button id = "roll_second" class = "roll_second"> Roll Second Dice! </button>
  </body>
</html>
